* {
   box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 /* Basic Styles */
 body {
   font-family: Arial, sans-serif;
   font-size: 16px;
   background-color: #f9f9f9;
   color: #000;
   margin: 0 auto;
   margin-top: 5%;
   margin-bottom: 2%;
}

:root {
   --back: hsla(150, 50%, 30%, 1);
   --back2: hsla(150, 50%, 30%, .5);
   --foredark: hsla(0,0%,10%,1);
   --forelight: hsla(0,0%,100%,1);
   --border: hsl(0,0%,20%);
   --borderlight: hsl(0,0%,33%);
   --shadow: hsl(0,0%,50%);
   --zebra: hsl(0, 0%, 93%, 1);
 }
 
 table {
   border-collapse: collapse;
   letter-spacing: 1px;
   font-size: 1.8rem;
   margin: 20px auto;
 }
 
 caption {
   padding: 10px;
   caption-side: bottom;
   color: rgb(33, 1, 51);
   font-size: 1.5rem;
 }
 
 tr:first-child th .highlight {
  background-color: var(--back);
  color: var(--forelight);
}

tr,
td {
  padding: 7px 15px;
}

th {
  background-color: grey;
  font-size: larger;
  color: black;
  border: 1px solid var(--borderlight);
  padding: 20px;
}

td {
  text-align: center;
  border: 1px solid var(--borderlight);
}

tbody tr:nth-child(even) {
  background-color: var(--zebra);
}

tbody tr:nth-child(odd) td {
  background-color: #efe7de;
}
 
 .tb-title {
    background-color: rgb(10, 10, 10);
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    color: #f8f6f6;
    text-align: center;
  }
 footer {
   padding: 20px;
   text-align: center;
   border-radius: 3%;
   color: #f6f6f7;
   font-weight: bold;
   background-color: #0e0d0d;
 }